<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemProgramaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemAlumnoServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCuentaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.RegistrarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemInscripcionAlumnoServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemInscripcionAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemFamiliaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemFamiliaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CelProgramaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CelProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemInscripcionCelServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemInscripcionCelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CelPostulacionesServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CelPostulacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoPostulacionesServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.AlumnoPostulacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicializarPerfil</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.InicializarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamiliaAntecedenteServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.FamiliaAntecedenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAlumnosRegistradosServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.ActualizarAlumnosRegistradosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoCalificacionServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.AlumnoCalificacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <url-pattern>/ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCuentaServlet</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CelPostulacionesServlet</servlet-name>
        <url-pattern>/cel/inscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicializarPerfil</servlet-name>
        <url-pattern>/inicializar-perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemProgramaServlet</servlet-name>
        <url-pattern>/cem/cem_programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemAlumnoServlet</servlet-name>
        <url-pattern>/cem/cem_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemInscripcionAlumnoServlet</servlet-name>
        <url-pattern>/cem/inscripciones_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemFamiliaServlet</servlet-name>
        <url-pattern>/cem/cem-administrar_familias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CelProgramaServlet</servlet-name>
        <url-pattern>/cel/cel_programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemInscripcionCelServlet</servlet-name>
        <url-pattern>/cem/inscripciones_cel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoPostulacionesServlet</servlet-name>
        <url-pattern>/alumno/alumno_postulaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamiliaAntecedenteServlet</servlet-name>
        <url-pattern>/familia/familia_antecedente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAlumnosRegistradosServlet</servlet-name>
        <url-pattern>/cem/actualizar_alumnos_registrados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoCalificacionServlet</servlet-name>
        <url-pattern>/alumno/calificaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/no-encontrado.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error-servidor.html</location>
    </error-page>
</web-app>
