<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemProgramaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemAlumnoServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCuentaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.RegistrarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemInscripcionAlumnoServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemInscripcionAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemFamiliaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemFamiliaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CelProgramaServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CelProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemInscripcionCelServlet</servlet-name>
        <servlet-class>cem.intercambios.controlador.servlet.CemInscripcionCelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <url-pattern>/ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemProgramaServlet</servlet-name>
        <url-pattern>/cem/cem-programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemAlumnoServlet</servlet-name>
        <url-pattern>/cem/cem-alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCuentaServlet</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemFamiliaServlet</servlet-name>
        <url-pattern>/cem/cem-administrar-familias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CelProgramaServlet</servlet-name>
        <url-pattern>/cel/cel-programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemInscripcionCelServlet</servlet-name>
        <url-pattern>/cem/inscripciones-cel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemInscripcionAlumnoServlet</servlet-name>
        <url-pattern>/cem/inscripciones-alumnos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/no-encontrado.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error-servidor.html</location>
    </error-page>
</web-app>
